In [1]:
import pandas as pd
import requests
import sspyrs

In [4]:
SQL = '<?xml version="1.0" encoding="utf-8" standalone="yes"?><service xmlns:atom="http://www.w3.org/2005/Atom" xmlns:app="http://www.w3.org/2007/app" xmlns="http://www.w3.org/2007/app"><workspace><atom:title>aDataManagerTicketExport</atom:title><collection href="https://rtr.tdr.tetratech.com/rs?%2F2020%2Fa%2FaDataManagerTicketExport&amp;PrjList=121&amp;DocType=3&amp;TckStartDt=10%2F05%2F2021&amp;TckEndDt=03%2F28%2F2022&amp;rs%3AParameterLanguage=&amp;rs%3ACommand=Render&amp;rs%3AFormat=ATOM&amp;rc%3AItemPath=LDHOTickets"><atom:title>LDHOTickets</atom:title></collection><collection href="https://rtr.tdr.tetratech.com/rs?%2F2020%2Fa%2FaDataManagerTicketExport&amp;PrjList=121&amp;DocType=3&amp;TckStartDt=10%2F05%2F2021&amp;TckEndDt=03%2F28%2F2022&amp;rs%3AParameterLanguage=&amp;rs%3ACommand=Render&amp;rs%3AFormat=XML"><atom:title>Tablix1</atom:title></collection></workspace></service>'

In [5]:
pd.read_xml(SQL,)

                      title  collection
0  aDataManagerTicketExport         NaN

In [6]:
SQLv2 = '<?xml version="1.0" encoding="utf-8" standalone="yes"?><service xmlns:atom="http://www.w3.org/2005/Atom" xmlns:app="http://www.w3.org/2007/app" xmlns="http://www.w3.org/2007/app"><workspace><atom:title>aDataManagerTicketExport</atom:title><collection href="https://rtr.tdr.tetratech.com/rs?%2F2020%2Fa%2FaDataManagerTicketExport&amp;PrjList=121&amp;DocType=3&amp;TckStartDt=10%2F05%2F2021&amp;TckEndDt=03%2F31%2F2022&amp;rs%3AParameterLanguage=&amp;rs%3ACommand=Render&amp;rs%3AFormat=ATOM&amp;rc%3AItemPath=LDHOTickets"><atom:title>LDHOTickets</atom:title></collection><collection href="https://rtr.tdr.tetratech.com/rs?%2F2020%2Fa%2FaDataManagerTicketExport&amp;PrjList=121&amp;DocType=3&amp;TckStartDt=10%2F05%2F2021&amp;TckEndDt=03%2F31%2F2022&amp;rs%3AParameterLanguage=&amp;rs%3ACommand=Render&amp;rs%3AFormat=ATOM&amp;rc%3AItemPath=Tablix1"><atom:title>Tablix1</atom:title></collection></workspace></service>'

In [16]:
pd.read_xml(SQL)

                      title  collection
0  aDataManagerTicketExport         NaN