In [1]:
import pandas as pd
import os
import glob
import numpy as np

In [2]:
path1 = r"C:\Users\jacque.trahan\Downloads\Central Division 2021 Debris Removal Tracker*"
file_type1 = '.xlsx'
load1 = glob.glob(path1 + file_type1)

df1 = pd.read_excel(max(load1, key=os.path.getctime))

In [3]:
# read in South Central Smart sheeets tracker
path_s = r"C:\Users\jacque.trahan\Downloads\South Central Division 2021 Debris Removal Tracker*"
file_type_s = '.xlsx'
load_it_s = glob.glob(path_s + file_type_s)

df_s = pd.read_excel(max(load_it_s, key=os.path.getctime), parse_dates=True)

### Concat central and south cental files

In [4]:
df_both = pd.concat([df1, df_s])

In [5]:
path2 = r"C:\Users\jacque.trahan\Downloads\Site Assessment Tracker*"
file_type2 = '.csv'
load2 = glob.glob(path2 + file_type2)

df2 = pd.read_csv(max(load2, key=os.path.getctime))

In [6]:
# df1 = pd.read_excel('../../Central Dixie fire/Central Branch  trackers/Central Division 2021 Debris Removal Tracker.xlsx', parse_dates=True)
# df2 = pd.read_csv("../../tetra forms ASB and SA/Site Assessment Tracker.csv", parse_dates=True)

In [7]:
df3 =pd.read_excel("../tetra forms ASB and SA/SA_TetraForms1.xlsx", parse_dates=True)

In [8]:
# RTR for vehicle counts
path4 = r"C:\Users\jacque.trahan\Downloads\aDataManagerTicketExport*"
file_type4 = ".xlsx"
load4 = glob.glob(path4 + file_type4)
df4 = pd.read_excel(max(load4, key=os.path.getctime), parse_dates=True, na_values=None)

In [9]:
smartsheets = df_both.copy()
sa = df2.copy()
tetarforms = df3.copy()

In [10]:
# smartsheets[(smartsheets['Site Assessment'].notnull()) & (smartsheets['RAD_MERC Sweep'].isnull())].to_excel('No sweep dates.xlsx')

In [11]:
# smartsheets.info(verbose=True)

# Site Assessment site up

In [12]:
# sa column selection
sa = sa[["APN", "Survey Date", "Number of Chimney(s)?", 
        "Number of Automobile(s)?", "Number of Motorcycle(s)?", "Number of ATV/UTV/Snowmobiles?", 
       "Number of Ag/Commercial/Construction Equipment?", "Number of Recreational Vehicle(s)?", 
       "Number of Trailer(s)?", "Number of Vessel(s)?", "County"]]

In [13]:
# only use central division APNs and parcel information
sa = sa[sa["County"].isin(['ALPINE', 'EL DORADO', 'LAKE', 'NEVADA', 'PLACER'])]

### Get the value counts of APNS in Sa

In [14]:
# pd.set_option('display.max_rows',1000)

In [15]:
sa['APN'].value_counts().to_excel('SA power BI APN counts central.xlsx')

# other Setups

In [16]:
sa['Number of Chimney(s)?'] = np.where(sa['Number of Chimney(s)?'] > 0, 'Yes', 'No')

In [17]:
sa[(sa['Survey Date'] == "11/9/2021; 11/18/2021")] = 11/18/2021

In [18]:
# set up date columns
sa['Survey Date'] = pd.to_datetime(sa['Survey Date']).dt.date

In [19]:
sa.rename(columns={'APN': 'APN_SA','Survey Date': 'SA Survey Date','Number of Chimney(s)?': 'Chimney',
                   "Number of Automobile(s)?":'Automobiles', 'Number of Motorcycle(s)?':'Motorcycle_SA',
                   "Number of ATV/UTV/Snowmobiles?": 'ATV/UTV/Snowmobiles',
                   "Number of Ag/Commercial/Construction Equipment?":'Ag/Commercial/Construction',
                  "Number of Recreational Vehicle(s)?": 'RV_SA', 'Number of Trailer(s)?':'Trailers_SA',
                   'Number of Vessel(s)?': 'Vessel_SA'}, inplace=True)

In [20]:
# set up numerical values for al vehicles
sa['Automobiles'] = pd.to_numeric(sa['Automobiles'])
sa['Motorcycle_SA'] = pd.to_numeric(sa['Motorcycle_SA'])
sa['ATV/UTV/Snowmobiles'] = pd.to_numeric(sa['ATV/UTV/Snowmobiles'])
sa['Ag/Commercial/Construction'] = pd.to_numeric(sa['Ag/Commercial/Construction'])
sa['RV_SA'] = pd.to_numeric(sa['RV_SA'])
sa['Trailers_SA'] = pd.to_numeric(sa['Trailers_SA'])
sa['Vessel_SA'] = pd.to_numeric(sa['Vessel_SA'])

In [21]:
sa.fillna({'SA Survey Date':0,
           'Automobiles': 0,
           'Motorcycle_SA': 0,
           'ATV/UTV/Snowmobiles': 0,
           'Ag/Commercial/Construction': 0,
           'RV_SA': 0,
           'Trailers_SA': 0,
           'Vessel_SA': 0}, inplace=True)

In [22]:
sa.columns = map(str.upper, sa.columns)

# Tetra Forms setup

In [23]:
# get just the counties we need
tetarforms = tetarforms[tetarforms['county'].isin(['ALPINE', 'EL DORADO', 'LAKE', 'NEVADA', 'PLACER'])]

### Get the value counts of APNS in Tetra Forms for central

In [24]:
tetarforms['apn'].value_counts().to_excel('Tetra Forms APN counts SA central.xlsx')

In [25]:
tetarforms[tetarforms['survey_date'] == "11/9/2021; 11/18/2021"] = 11/18/2021

In [26]:
# format dates 
tetarforms['survey_date'] = pd.to_datetime(tetarforms['survey_date']).dt.date

In [27]:
#get columsn we need
tetarforms = tetarforms[['apn','survey_date','chimney_quantity', 'automobile_quantity', 'motorcycle_quantity',
                         'atv_utv_quantity', 'comm_equip_quantity', 'rvs_quantity', 'trailer_quantity', 'vessel_quantity']]

In [28]:
tetarforms.fillna({'survey_date':0,
           'automobile_quantity': 0,
           'motorcycle_quantity': 0,
           'atv_utv_quantity': 0,
           'comm_equip_quantity': 0,
           'rvs_quantity': 0,
           'trailer_quantity': 0,
           'vessel_quantity': 0}, inplace=True)

In [29]:
tetarforms['chimney_quantity'] = np.where(tetarforms['chimney_quantity'] > 0, 'Yes', 'No')

In [30]:
tetarforms.rename(columns={'apn': 'APN_TF', 'motorcycle_quantity':'motorcycle_quantity_TF'}, inplace=True)

In [31]:
tetarforms.columns = map(str.upper, tetarforms.columns)

In [32]:
# merge1 tetraforms and SA
merge1 = sa.merge(tetarforms,
                 left_on='APN_SA',
                 right_on='APN_TF',
                 how='outer',
                 suffixes=('_SA', '_TF'))

# Smart sheet set up

In [33]:
# smartsheets.info(verbose=True, show_counts=True)

In [34]:
# smart sheet column selection
smartsheets = smartsheets[['APN_ROW Segment','Street #','Street Name', 'Structural Status','County',
                           'Chimney',
                           'Site Assessment',
                          'Number of Passenger Vehicles', 'Number of ATV_UTV_snowmobiles',
                          'Number of Ag_Commercial_Construction Equipment','Number of Motorcycles',
                          'Number of RV\'s', 'Number of Trailers', 'Number of Vessels (Boat_Jetski)', 'Total Number of Vehicles']]

In [35]:
smartsheets = smartsheets.copy()

In [36]:
# take of the time on the dates
smartsheets['Site Assessment'] = smartsheets['Site Assessment'].dt.date

In [37]:
smartsheets.fillna({'Chimney': 'No',
                    'Site Assessment': 0,
                    'Number of Passenger Vehicles': 0,
                    'Number of ATV_UTV_snowmobiles': 0,
                    'Number of Ag_Commercial_Construction Equipment': 0,
                    'Number of Motorcycles': 0,
                    'Number of RV\'s':0,
                    'Number of Trailers': 0,
                    'Number of Vessels (Boat_Jetski)': 0}, inplace=True)

In [38]:
smartsheets.rename(columns={'County':'County_SS','Site Assessment': 'SA Survey Date', 'Number of Passenger Vehicles': 'Automobiles',
                           'Number of ATV_UTV_snowmobiles': 'ATV/UTV/Snowmobiles',
                           'Number of Ag_Commercial_Construction Equipment': 'Ag/Commercial/Construction',
                           'Number of Motorcycles': 'Motorcycles_SS', 'Number of RV\'s': 'RV_SS',
                           'Number of Trailers':'Trailers_SS','Number of Vessels (Boat_Jetski)':'Vessel_SS'}, inplace=True)

In [39]:
smartsheets.columns = map(str.upper, smartsheets.columns)

In [40]:
# merge both data frames for QC
finals = smartsheets.merge(merge1,
                         left_on='APN_ROW SEGMENT',
                         right_on='APN_SA',
                         how='outer',
                         suffixes=('_SS', '_SA'))

In [41]:
# column orinizationa
final = finals[['APN_ROW SEGMENT','APN_SA', 'APN_TF','STREET #','STREET NAME','STRUCTURAL STATUS','COUNTY_SS',
               'SA SURVEY DATE_SS', 'SA SURVEY DATE_SA','SURVEY_DATE',
               'CHIMNEY_SS','CHIMNEY_SA','CHIMNEY_QUANTITY',
               'AUTOMOBILES_SS', 'AUTOMOBILES_SA','AUTOMOBILE_QUANTITY',
               'MOTORCYCLES_SS', 'MOTORCYCLE_SA', 'MOTORCYCLE_QUANTITY_TF',
              'ATV/UTV/SNOWMOBILES_SS', 'ATV/UTV/SNOWMOBILES_SA','ATV_UTV_QUANTITY',
              'AG/COMMERCIAL/CONSTRUCTION_SS', 'AG/COMMERCIAL/CONSTRUCTION_SA','COMM_EQUIP_QUANTITY',
              'RV_SS', 'RV_SA','RVS_QUANTITY',
              'TRAILERS_SS', 'TRAILERS_SA','TRAILER_QUANTITY',
              'VESSEL_SS','VESSEL_SA','VESSEL_QUANTITY',
               'TOTAL NUMBER OF VEHICLES']]

# Fill in the na and blanks with 0's

In [42]:
final = final.copy()
final.fillna({'SA SURVEY DATE_SA':0,
           'SURVEY_DATE': 0,
           'CHIMNEY_SA': 0,
           'CHIMNEY_QUANTITY': 0,
           'AUTOMOBILES_SA': 0,
           'AUTOMOBILE_QUANTITY': 0,
           'MOTORCYCLE_SA': 0,
           'MOTORCYCLE_QUANTITY_TF': 0,
             'ATV/UTV/SNOWMOBILES_SA': 0,
             'ATV_UTV_QUANTITY': 0,
             'AG/COMMERCIAL/CONSTRUCTION_SA': 0,
             'COMM_EQUIP_QUANTITY': 0,
             'RV_SA': 0,
             'RVS_QUANTITY': 0,
             'TRAILERS_SA':0,
             'TRAILER_QUANTITY': 0,
             'VESSEL_SA': 0,
             'VESSEL_QUANTITY': 0}, inplace=True)

# compare function for each category

In [43]:
def compare_cols(df,comp1,comp2,comp3):
    if (df[comp1] == df[comp2]) & (df[comp1] == df[comp3]):
        return 1
    else:
        return 0

# Survey date checks

In [44]:
final.insert(final.columns.get_loc('SURVEY_DATE')+1, "Survey Matches",
            final.apply(compare_cols, comp1='SA SURVEY DATE_SS', comp2='SA SURVEY DATE_SA', comp3='SURVEY_DATE', axis=1))

# CHIMNEY

In [45]:
final.insert(final.columns.get_loc('CHIMNEY_QUANTITY')+1, "Chimney Macthes",
            final.apply(compare_cols, comp1='CHIMNEY_SS', comp2='CHIMNEY_SA', comp3='CHIMNEY_QUANTITY', axis=1))

# AUTOMOBILES

In [46]:
final.insert(final.columns.get_loc('AUTOMOBILE_QUANTITY')+1, "AUTOMOBILE-M",
            final.apply(compare_cols, comp1='AUTOMOBILES_SS', comp2='AUTOMOBILES_SA', comp3='AUTOMOBILE_QUANTITY', axis=1))

# MOTORCYCLES

In [47]:
final.insert(final.columns.get_loc('MOTORCYCLE_QUANTITY_TF')+1, "Motorcycle-M",
            final.apply(compare_cols, comp1='MOTORCYCLES_SS', comp2='MOTORCYCLE_SA', comp3='MOTORCYCLE_QUANTITY_TF', axis=1))

# ATV/UTV/SNOWMOBILES

In [48]:
final.insert(final.columns.get_loc('ATV_UTV_QUANTITY')+1, "ATV-M",
            final.apply(compare_cols,
                        comp1='ATV/UTV/SNOWMOBILES_SS', comp2='ATV/UTV/SNOWMOBILES_SA', comp3='ATV_UTV_QUANTITY', axis=1))

# AG/COMMERCIAL/CONSTRUCTION

In [49]:
final.insert(final.columns.get_loc('COMM_EQUIP_QUANTITY')+1, "COMM-M",
            final.apply(compare_cols,
                        comp1='AG/COMMERCIAL/CONSTRUCTION_SS',
                        comp2='AG/COMMERCIAL/CONSTRUCTION_SA', comp3='COMM_EQUIP_QUANTITY', axis=1))

# RV

In [50]:
final.insert(final.columns.get_loc('RVS_QUANTITY')+1, "RV-M",
            final.apply(compare_cols, comp1='RV_SS', comp2='RV_SA', comp3='RVS_QUANTITY', axis=1))

# TRAILERS

In [51]:
final.insert(final.columns.get_loc('TRAILER_QUANTITY')+1, "Trailer-M",
            final.apply(compare_cols, comp1='TRAILERS_SS', comp2='TRAILERS_SA', comp3='TRAILER_QUANTITY', axis=1))

# VESSEL

In [52]:
final.insert(final.columns.get_loc('VESSEL_QUANTITY')+1, "Vessel-M",
            final.apply(compare_cols, comp1='VESSEL_SS', comp2='VESSEL_SA', comp3='VESSEL_QUANTITY', axis=1))

# color in the compare columns

In [53]:
final_style = final.style.set_properties(**{'background-color': 'lightblue'},
                          subset=['Survey Matches', 'Chimney Macthes','AUTOMOBILE-M','Motorcycle-M',"ATV-M",
                                  'COMM-M',"RV-M",'Trailer-M' ,'Vessel-M'])

In [54]:
final_style.to_excel('Central Dixie Fire SA Audit.xlsx')

# RTR vehcile counts for each APN

In [55]:
RTR = df4.copy()
RTR = RTR[['Zone Name', 'Service Code', 'Unit Count', 'Is Void', 'GIS Zone1','GIS Zone2']]
RTR = RTR.copy()
RTR['Zone Name'] = RTR['Zone Name'].str[:3] + "-" + RTR['Zone Name'].str[3:6] + "-" + RTR['Zone Name'].str[6:]
RTR['Service Code'] = RTR['Service Code'].str.strip()

In [56]:
RTR_Vecs = RTR.copy()
RTR_Vecs = RTR_Vecs[(RTR_Vecs['Is Void'] == False) & (RTR_Vecs['Service Code'].isin(['5A','5B']))]
RTR_Vecs = RTR_Vecs[RTR_Vecs['GIS Zone1'].isin(['CENTRAL DIVISION'])]
RTR_Vecs = RTR_Vecs[['Zone Name', 'Unit Count', 'GIS Zone2']]
RTR_SUM_Vecs = RTR_Vecs.groupby(['Zone Name'])[['Unit Count']].sum().reset_index()
RTR_SUM_Vecs = RTR_SUM_Vecs.add_suffix("_RTR")

In [59]:
smartsheets

,APN_ROW SEGMENT,STREET #,STREET NAME,STRUCTURAL STATUS,COUNTY_SS,CHIMNEY,SA SURVEY DATE,AUTOMOBILES,ATV/UTV/SNOWMOBILES,AG/COMMERCIAL/CONSTRUCTION,MOTORCYCLES_SS,RV_SS,TRAILERS_SS,VESSEL_SS,TOTAL NUMBER OF VEHICLES
0,012-036-270,16355,Dam Road,Returned to County,Lake,No,2021-10-28,4.0,0.0,0.0,5.0,0.0,1.0,2.0,12
1,042-374-130,16350,Dam Road,Tree Operations in Progress,Lake,No,2021-11-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,042-376-190,16428,2nd Avenue,Ready for Debris Removal,Lake,No,2021-12-04,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2
3,041-492-003,6774,Tyler Drive,Ready for Tree Operations,El Dorado,No,2021-10-11,0.0,2.0,1.0,0.0,0.0,1.0,0.0,4
4,041-481-007,6823,Tyler Drive,Ready for Tree Operations,El Dorado,Yes,2021-11-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,059-550-022,18887,Golden Dove Lane,ROE Received,Tuolumne,No,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,059-550-005,059-550-005,No Address,ROE Received,Tuolumne,No,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,059-550-021,19125,Golden Dove Lane,ROE Received,Tuolumne,No,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
18,059-550-004,059-550-004,No Address,ROE Received,Tuolumne,No,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,059-550-018,11387,Silver Pine Drive,ROE Received,Tuolumne,No,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [60]:
RTR_vec_final = smartsheets.merge(RTR_SUM_Vecs,
                             left_on='APN_ROW SEGMENT',
                             right_on='Zone Name_RTR',
                             how='outer')

In [61]:
RTR_vec_final['Left over Vehicles'] = RTR_vec_final['TOTAL NUMBER OF VEHICLES'] - RTR_vec_final['Unit Count_RTR']

In [63]:
RTR_vec_final = RTR_vec_final[['APN_ROW SEGMENT','STREET #','STREET NAME','STRUCTURAL STATUS','COUNTY_SS',
               'TOTAL NUMBER OF VEHICLES', 'Unit Count_RTR', 'Left over Vehicles']]

In [64]:
RTR_vec_final.to_excel('Vehicle RTR counts Central.xlsx')