In [15]:
import pandas as pd
import os
import glob
import numpy as np

In [16]:
path = r"C:\Users\jacque.trahan\Downloads\Central Division 2021 Debris Removal Tracker*"
file_type = ".xlsx"
load_it = glob.glob(path + file_type)
df = pd.read_excel(max(load_it, key=os.path.getctime))

In [17]:
checks = df.copy()

In [14]:
checks.loc[checks['Not Eligible'].notnull(),['APN_ROW Segment','Street #', 'Street Name', 'County', 'Not Eligible']].to_excel('Not eligible properties.xlsx')

In [ ]:
# pd.set_option('display.max_rows', 210)

# Checks debris start/finish dates and special notes

In [ ]:
# checks = checks[['APN_ROW Segment','Street #', 'Street Name', 'County','Debris Start', 'Debris Finish', 'Special Notes']]

In [ ]:
# fin_no_start = checks[(checks['Debris Start'].isnull()) & (checks['Debris Finish'].notnull())]
# fin_no_start.to_excel('MMissing startdate but has finish dates.xlsx')

# 811 checks

In [21]:
checks_811s = checks[['APN_ROW Segment','Street #', 'Street Name', 'County','811 Called (A&M)',
                      'Site Assessment', "Debris Crew", "Not Eligible", 'Withdrawal']]
checks_811s = checks_811s[(checks_811s['Not Eligible'].isnull()) & (checks_811s['Withdrawal'].isnull())]

In [6]:
# checks_811s.head()

In [22]:
checks_811s = checks_811s.copy()
checks_811s['811 Called (A&M)'].fillna(0, inplace=True)

In [23]:
checks_811s.replace(1.0, "Complete", inplace=True)
checks_811s.replace(0.0, "Not done", inplace=True)

In [25]:
checks_811s_notdone = checks_811s[(checks_811s['811 Called (A&M)'] == "Not done")]# & (checks_811s['Site Assessment'].notnull())]

In [26]:
checks_811s_complete= checks_811s[(checks_811s['811 Called (A&M)']=="Complete")] #& (checks_811s['Site Assessment'].notnull())] #

In [30]:
checks_811s_notdone.to_excel("811s (A&M) Not completed.xlsx")

In [31]:
checks_811s_complete.to_excel("811s (A&M) completed.xlsx")

# Power BI

In [98]:
power_bi= checks.copy()

In [99]:
power_bi = power_bi[['APN_ROW Segment', 'ASB Assessment', 'Site Assessment', 'Phase 1 Complete', 'ROE Verified']]

In [104]:
power_bi[(power_bi['ASB Assessment'].isnull())]

,APN_ROW Segment,ASB Assessment,Site Assessment,Phase 1 Complete,ROE Verified
19,041-494-005,NaT,NaT,No,ROE Verified
20,041-642-007,NaT,NaT,No,ROE Verified
21,041-643-002,NaT,NaT,Unk,ROE Verified
25,038-361-014,NaT,2021-11-13,No,ROE Verified
36,041-431-004,NaT,2021-11-09,Yes,ROE Verified
...,...,...,...,...,...
941,041-882-027,NaT,NaT,No,ROE Verified
946,041-404-010,NaT,NaT,No,ROE Verified
948,041-432-005,NaT,NaT,Yes,ROE Verified
952,041-402-002,NaT,NaT,No,ROE Verified
953,041-523-008,NaT,NaT,NaN,ROE Verified

In [100]:
power_bi[(power_bi['ASB Assessment'].isnull()) & (power_bi['Phase 1 Complete'].isin(['No', 'Unk', ""])& (power_bi['ROE Verified'] == "ROE Verified"))]

,APN_ROW Segment,ASB Assessment,Site Assessment,Phase 1 Complete,ROE Verified
19,041-494-005,NaT,NaT,No,ROE Verified
20,041-642-007,NaT,NaT,No,ROE Verified
21,041-643-002,NaT,NaT,Unk,ROE Verified
25,038-361-014,NaT,2021-11-13,No,ROE Verified
37,041-431-005,NaT,NaT,No,ROE Verified
...,...,...,...,...,...
937,041-651-010,NaT,NaT,No,ROE Verified
940,041-871-014,NaT,NaT,No,ROE Verified
941,041-882-027,NaT,NaT,No,ROE Verified
946,041-404-010,NaT,NaT,No,ROE Verified
952,041-402-002,NaT,NaT,No,ROE Verified

In [103]:
power_bi[(power_bi['Site Assessment'].isnull())]

,APN_ROW Segment,ASB Assessment,Site Assessment,Phase 1 Complete,ROE Verified
19,041-494-005,NaT,NaT,No,ROE Verified
20,041-642-007,NaT,NaT,No,ROE Verified
21,041-643-002,NaT,NaT,Unk,ROE Verified
37,041-431-005,NaT,NaT,No,ROE Verified
38,041-431-006,NaT,NaT,No,ROE Verified
...,...,...,...,...,...
941,041-882-027,NaT,NaT,No,ROE Verified
946,041-404-010,NaT,NaT,No,ROE Verified
948,041-432-005,NaT,NaT,Yes,ROE Verified
952,041-402-002,NaT,NaT,No,ROE Verified
953,041-523-008,NaT,NaT,NaN,ROE Verified

In [101]:
power_bi[(power_bi['Site Assessment'].isnull()) & (power_bi['Phase 1 Complete'].isin(['No', 'Unk', ""])& (power_bi['ROE Verified'] == "ROE Verified"))]

,APN_ROW Segment,ASB Assessment,Site Assessment,Phase 1 Complete,ROE Verified
19,041-494-005,NaT,NaT,No,ROE Verified
20,041-642-007,NaT,NaT,No,ROE Verified
21,041-643-002,NaT,NaT,Unk,ROE Verified
37,041-431-005,NaT,NaT,No,ROE Verified
38,041-431-006,NaT,NaT,No,ROE Verified
...,...,...,...,...,...
937,041-651-010,NaT,NaT,No,ROE Verified
940,041-871-014,NaT,NaT,No,ROE Verified
941,041-882-027,NaT,NaT,No,ROE Verified
946,041-404-010,NaT,NaT,No,ROE Verified
952,041-402-002,NaT,NaT,No,ROE Verified

# Phase 1 checks

In [4]:
phase = checks.copy()

In [8]:
phase[['APN_ROW Segment', 'Phase 1 Complete']].to_excel('Phase 1 add no to blanks.xlsx')

# Milk run QC

#### Central Division 2021 DTSC Tracker

In [82]:
milk_path = r"C:\Users\jacque.trahan\Downloads\Central Division 2021 DTSC Tracker*"
milk_type = ".xlsx"
milk_load = glob.glob(milk_path + milk_type)
milkrun_DTSC_SS_tracker = pd.read_excel(max(milk_load, key=os.path.getctime))

In [83]:
milkrun_DTSC_SS_tracker = milkrun_DTSC_SS_tracker = milkrun_DTSC_SS_tracker.copy()
milkrun_DTSC_SS_tracker = milkrun_DTSC_SS_tracker[['APN', 'DTSC Attn Needed', 'Milk Run Notes',
                                                              'DTSC Activated', 'DTSC Comments', 'DTSC Completed',
                                                               '"MilkRun/Phase1..." field reset in debris tracker', '"Phase 1 Status" updated in debris tracker']]
milkrun_DTSC_SS_tracker = milkrun_DTSC_SS_tracker.add_suffix("_DTSC")

In [92]:
milkrun_DTSC_SS_tracker.columns

Index(['APN_DTSC', 'DTSC Attn Needed_DTSC', 'Milk Run Notes_DTSC',
       'DTSC Activated_DTSC', 'DTSC Comments_DTSC', 'DTSC Completed_DTSC',
       '"MilkRun/Phase1..." field reset in debris tracker_DTSC',
       '"Phase 1 Status" updated in debris tracker_DTSC'],
      dtype='object')

### CENTRAL PLANNING TRACKER TT

In [84]:
plan_milk_path = r"C:\Users\jacque.trahan\Downloads\CENTRAL PLANNING TRACKER TT*"
plan_milk_type = ".xlsx"
plan_milk_load = glob.glob(plan_milk_path + plan_milk_type)
milkrun_DTSC_Planning_tracker = pd.read_excel(max(plan_milk_load, key=os.path.getctime), sheet_name='MILK RUN')

In [85]:
milkrun_DTSC_Planning_tracker = milkrun_DTSC_Planning_tracker.copy()
milkrun_DTSC_Planning_tracker = milkrun_DTSC_Planning_tracker[['APN', 'HHW?', 'WASTE LEFT ON SITE',
       'LOCATION OF WASTE, IF SPECIFIED', 'DATE ADDED TO MILK RUN TRACKER', 'DATE COMPLETED']]
milkrun_DTSC_Planning_tracker = milkrun_DTSC_Planning_tracker.add_suffix("_Planning")

### Smart sheets

In [86]:
smartsheets = checks.copy()
smartsheets = smartsheets[['APN_ROW Segment','Structural Status', 'Street #', 'Street Name', 'County',
                           'Needs Milk Run or Phase 1 Revisit']]

### Merge them

In [87]:
DTSC_merge = milkrun_DTSC_SS_tracker.merge(milkrun_DTSC_Planning_tracker,
                            left_on='APN_DTSC',
                            right_on='APN_Planning',
                            how='outer')

In [89]:
final = DTSC_merge.merge(smartsheets,
                      left_on='APN_DTSC',
                      right_on='APN_ROW Segment',
                      how='outer')

# style
* DTSC = yellow
* PLanning = light blue
* Smart sheets = white

In [93]:
final_style1 = final.style.set_properties(**{'background-color': 'yellow'},
                                         subset=['APN_DTSC', 'DTSC Attn Needed_DTSC', 'Milk Run Notes_DTSC',
       'DTSC Activated_DTSC', 'DTSC Comments_DTSC', 'DTSC Completed_DTSC',
       '"MilkRun/Phase1..." field reset in debris tracker_DTSC',
       '"Phase 1 Status" updated in debris tracker_DTSC'])

In [94]:
final_style1.to_excel('Test milk.xlsx')